header{
  .navbar{
    padding: 15px 0px;
    background-color: transparent;
    width: 100%;
    z-index: 1024;
    transition: all 0.3s ease-in-out;

    @include device(mobile){
      padding: 10px 15px;
    }

    .navbar-brand{
      transition: all 0.3s ease-in-out;
      img{
        height: 50px;
      }

      &:hover{
        color: $white;
      }
    }
  }
}
